<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.mapper.RoleMapper">
	<sql id="list">
		`rid`,
 		`role`,
  		`rdescription` 
	</sql>
	
	<select id="roleList" resultType="role">
		SELECT
			<include refid="list" />
		FROM
			`role`
	</select>


</mapper>